.todo-item{
    padding: 7px 10px;
    background-color: #e1e1e1;
    margin: 10px 0;
    border-radius: 2px;
    word-wrap: break-word;
}

.todo-item__label {
    float: left;
}

.todo-item__delete{
    background-color: #ff8080;
    border-radius: 2px;
    border: 0;
    color: #fff;
    transition: top 1s ease-out 0.5s;
    float: right;
}

.todo-item__delete:hover{
    cursor: pointer;
}
.todo-item__delete:active{
    -webkit-box-shadow: inset -1px -1px 1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 1px 1px rgba(0,0,0,0.75);
    box-shadow: inset -1px 1px 1px 1px rgba(0,0,0,0.75);
}
.overline {
    text-decoration: line-through;
}

.clearfix{
    clear: both;
}